<footer class="footer position-fixed">
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small">
                Copyright&nbsp;© Buildit 2022
            </p>
        </div>
    </footer>
</footer>