<section class="Navbar">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark navbar-custom">
        <div class="container">
            <a class="navbar-brand text-capitalize fs-4 fw-bold" href="#">buildit</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="Landing">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-5 my-auto">
                <h1 class="display-1">Welcome to <span>Buildit</span></h1>
                <p class="display-6">
                    working on a new project? let us help you find other people from your
                    college to help you <span>buildit</span>.
                </p>
                <a class="btn btn-danger" href="signIn">Sign Up</a>
                <a class="btn btn-outline-danger" href="login">Login</a>
                <!-- customised button work under progress -->
                <!-- <div class="row d-flex justify-content-center">
                    <div class="col-md-6"> <button class = "style-btn">Hover Me</button> -->

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="footer fixed-bottom">
    <footer class="py-md-3 py-l-4  bg-dark">
        <div class="container">
            <p class="text-center text-white m-0 small">
                Copyright&nbsp;© Buildit 2022
            </p>
        </div>
    </footer>
</section>