<div class="container-fluid Login-Page">
    <div class="row h-100">
        <div class="col-md-3 mx-auto my-auto border-dark p-4 shadow">
            <h1 class="display-5 text-center">
                Login
            </h1>
            <form method="post" action="/">
                <label for="name">Your Name*</label>
                <input class="form-control transparent-background" type="text" name="name" required>
                <label for="email">Email*</label>
                <input class="form-control transparent-background" type="email" name="email" required>
                <label for="password">Password*</label>
                <input class="form-control transparent-background" type="password" name="password" required>
                <button class="btn-primary mt-5 form-control" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>