<div class="container-fluid Login-Page">
    <div class="row h-100">
        <div class="col-md-6 mx-auto my-auto border-dark p-4 shadow">
            <h1 class="display-5 text-center">
                Sign In
            </h1>
            <form method="post" action="/signIn">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name">Your First Name*</label>
                        <input class="form-control transparent-background" type="text" name="Fname" required>
                    </div>
                    <div class="col-md-6">
                        <label for="name">Your Last Name</label>
                        <input class="form-control transparent-background" type="text" name="Lname" required>
                    </div>
                    <div class="col-md-6">
                        <label for="email">Email*</label>
                        <input class="form-control transparent-background" type="email" name="email" required>
                    </div>
                    <div class="col-md-6">
                        <label for="ConfirmEmail">Confirm Email</label>
                        <input class="form-control transparent-background" type="email" name="confirmEmail" required>
                    </div>
                    <div class="col-md-6">
                        <label for="Password">Password*</label>
                        <input class="form-control transparent-background" type="Password" name="password" required>
                    </div>
                    <div class="col-md-6">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input class="form-control transparent-background" type="Password" name="confirmPassword" required>
                    </div>
                </div>
                <button class="btn-primary mt-5 form-control mx-auto w-50" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>